.container {
  width: 10rem;
  padding-right: 1rem;
}
input[type=text] {
  width: 100%; 
}
.overflow-fade-left, .overflow-fade-right{
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.overflow-fade-left:before, .overflow-fade-right:after{
  white-space: nowrap;
  overflow: hidden;
  content: '';
  position: absolute;
  pointer-events: none;
  top: 0.1875rem;   
  width: 15%;
  height: 1rem;
}
.overflow-fade-left:before{
  left: 0.1rem;
  background: linear-gradient(to left, rgba(255,255,255,0) 0%, #ffffff 80%, #ffffff 100%);
}
.overflow-fade-right:after{
  right: 0.6rem;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, #ffffff 80%, #ffffff 100%);
}