.fade-overlay {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.fade-overlay:after {
  white-space: nowrap;
  overflow: hidden;
  content: '';
  position: absolute;
  top: 0;
  right: -.5rem;
  width: 10%;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, #FFFFFF 80%, #FFFFFF 100%);
  pointer-events: none;
}
/**input overflow text fade out*/
.overflow-fade-left, .overflow-fade-right{
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.overflow-fade-left:before, .overflow-fade-right:after{
  white-space: nowrap;
  overflow: hidden;
  content: '';
  position: absolute;
  pointer-events: none;
  top: 0.1875rem;   
  width: 10%;
  height: 2.5rem;
}
/*color set between white and light gray to handle both selected and unselected input fields*/
.overflow-fade-left:before{
  left: 0.3rem;
  background: linear-gradient(to left, rgba(255,255,255,0) 0%, #FCFDFD 80%, #FCFDFD 100%);
}
/*color set between white and light gray to handle both selected and unselected input fields*/
.overflow-fade-right:after{
  right: 0.3rem;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, #FCFDFD 80%, #FCFDFD 100%);
}
.overflow-fade-pwd-right:after{   
  right: 2.6rem;
}